.logo {
  height: 32px;
  background-image: url("../images/logo.png");
  background-size: 100% 100%;
    margin: 16px calc((100% - 32px) / 2);
}

.gg-editor-background {
  background: #EFF3F5;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.login-form, .signup-form {
  width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button, .signup-form-button {
  width: 100%;
}
.editor {
    display: flex;
    width: 60%;
    flex: 1;
    background-color: #ffffff;
    border: #7e10c7
  }

  .editorBd {
    flex: 1;
  }