.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.gg-editor-background {
  background: #EFF3F5;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.login-form, .signup-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button, .signup-form-button {
  width: 100%;
}
.editor {
    display: flex;
    width: 60%;
    flex: 1;
    background-color: #ffffff;
    border: #7e10c7
  }

  .editorBd {
    flex: 1;
  }